.comics-field
  %center
    %h2
      = t(:comics, scope: [:comics])
  .comics-blank
    = has_any_comics? @character
  - @character.comics.each do |comic|
    .jumbotron.jumbotron-comic
      .image
        = image_tag comic.image + "/portrait_medium.jpg"
      .container.title
        %h4
          = t(:title, scope: [:comics])
        %p
          = comic.title
      %h4
        = t(:cover_number, scope: [:comics])
      %p
        = comic.cover_number