%p#notice= notice
%h1 
  = t(:index, scope: [:character])
%table.table.table-striped.table-bordered.table-hover.table-condensed.table-responsive
  %thead
    %tr
      %th 
        = t(:name, scope: [:character])
      %th 
        = t(:description, scope: [:character])
      %th 
        = t(:last_updated, scope: [:character])
  %tbody
    - @characters.each do |character|
      %tr
        %td= link_to character.name, marvel_character_path(character)
        %td= link_to character.description, marvel_character_path(character)
        %td= display_last_update(character)
%br/

.digg_pagination
  =will_paginate @characters
