%p#notice= notice
%h1 
  = t(:characters, scope: [:character])
%table.table.table-striped.table-bordered.table-hover.table-condensed.table-responsive
  %thead
    %tr
      %th Nome
      %th Descrição
      %th Última Atualização
      / %th{:colspan => "3"}
  %tbody
    - @characters.each do |character|
      %tr
        %td= link_to character.name, marvel_character_path(character)
        %td= link_to character.description, marvel_character_path(character)
        %td= display_last_update(character)
%br/

.digg_pagination
  =will_paginate @characters
