%p#notice= notice
.jumbotron
  .container
    %h2 
      = @character.name
    %p
      = @character.description
  = image_tag @character.image + "/portrait_fantastic.jpg"

  .btn.btn-primary.btn-lg
    = link_to t(:back, scope: [:character]), :back

= render partial: 'comics'
