!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MarvelApiProject
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body
    %p
      .alert
        = alert
    - if user_signed_in?
      .btn.btn-primary.btn-logout
        = link_to('Sair', destroy_user_session_path, :method=>'delete')
    = yield
